### Node ###
# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# dotenv environment variables file
#.env
./secured/.env

## Visual studio code
.vscode/

dist/

.DS_Store